In [308]:
import pandas as pd

In [339]:
from sklearn import preprocessing

In [340]:
min_max_scaler = preprocessing.MinMaxScaler()

In [341]:
!ls

DATA CLEANING.ipynb              suciderate2016graph.md
bicyclehires.md                  suicideratesandgdp2016.csv
cars.json                        try1.html
cleaned_2016_GDP_SUCIDE.csv      unemployment histogram.md
cleaned_2016_GDP_SUCIDE_last.csv unemploymentbycountry.csv
illebjk-attachments.zip          world happiness.md
seattle-weather.csv              worldhappinessreport.csv
session06.md

In [342]:
df =pd.read_csv('suicideratesandgdp2016.csv')

In [343]:
df.columns

Index(['CountryName', 'Country Code', 'GDP_PerCapita_2000 US$',
       'SuicideRate_2000', 'GDP_PerCapita_2005 US$', 'SuicideRate_2005',
       'GDP_PerCapita_2010 US$', 'SuicideRate_2010', 'GDP_PerCapita_2015 US$',
       'SuicideRate_2015', 'GDP_PerCapita_2016 US$', 'SuicideRate_2016'],
      dtype='object')

In [344]:
df.drop([ 'GDP_PerCapita_2000 US$',
       'SuicideRate_2000', 'GDP_PerCapita_2005 US$', 'SuicideRate_2005',
       'GDP_PerCapita_2010 US$', 'SuicideRate_2010', 'GDP_PerCapita_2015 US$',
       'SuicideRate_2015'],inplace=True,axis=1)

In [350]:
x=df[['GDP_PerCapita_2016 US$']].values

In [351]:
x_scaled = min_max_scaler.fit_transform(x)

In [352]:
df['GDP_PerCapita_2016 US$']=x_scaled

In [353]:
x_=df[['SuicideRate_2016']].values

In [354]:
x__scaled_su = min_max_scaler.fit_transform(x_)

In [355]:
df['SuicideRate_2016']=x__scaled_su

In [356]:
df_copy=df.copy()

In [357]:
df['index']=df.index

In [358]:
df.drop('index',inplace=True,axis=1)

In [359]:
df_copy['index']=(df_copy.index*2)

In [360]:
df['index']=(df.index*2-1)

In [361]:
for a in range(len(df_copy)):
    df_copy['index']= df_copy['index'][a]-1)

SyntaxError: invalid syntax (<ipython-input-361-39d33c058a2f>, line 2)

In [362]:
df_copy['CountryName'][0]

'Afghanistan'

In [363]:
df_processed = pd.concat([df,df_copy])

In [364]:
df_processed.sort_values(by=['index'], inplace=True)

In [365]:
df_processed['index']=df_processed['index']+1

In [366]:
df_processed

,CountryName,Country Code,GDP_PerCapita_2016 US$,SuicideRate_2016,index
0,Afghanistan,AFG,0.002624,0.133758,0
0,Afghanistan,AFG,0.002624,0.133758,1
1,Afghanistan_1,AFG,0.002624,0.133758,2
1,Afghanistan_1,AFG,0.002624,0.133758,3
2,Angola,AGO,0.031913,0.133758,4
...,...,...,...,...,...
158,South Africa,ZAF,0.049399,0.353503,317
159,Zambia,ZMB,0.009883,0.178344,318
159,Zambia,ZMB,0.009883,0.178344,319
160,Zimbabwe,ZWE,0.011705,0.324841,320
160,Zimbabwe,ZWE,0.011705,0.324841,321

In [367]:
df_processed.set_index('index',inplace=True)

In [326]:
df_processed

         CountryName Country Code  GDP_PerCapita_2016 US$  SuicideRate_2016
index
0        Afghanistan          AFG                5.472281               4.7
1        Afghanistan          AFG                5.472281               4.7
2      Afghanistan_1          AFG                5.472281               4.7
3      Afghanistan_1          AFG                5.472281               4.7
4             Angola          AGO               35.060729               4.7
...              ...          ...                     ...               ...
317     South Africa          ZAF               52.726277              11.6
318           Zambia          ZMB               12.805784               6.1
319           Zambia          ZMB               12.805784               6.1
320         Zimbabwe          ZWE               14.645835              10.7
321         Zimbabwe          ZWE               14.645835              10.7

[322 rows x 4 columns]

In [327]:
df_processed['sucideandgdp']=0.0

In [328]:
for a in df_processed.index:
    if a%2 == 0:
        df_processed['sucideandgdp'][a] = df_processed['SuicideRate_2016'][a]
    else:
        df_processed['sucideandgdp'][a] = df_processed['GDP_PerCapita_2016 US$'][a]

/Users/mussabaheenmalik/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/mussabaheenmalik/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [329]:
df_processed.drop([ 'Country Code', 'GDP_PerCapita_2016 US$',
       'SuicideRate_2016'],inplace=True,axis=1 )

In [330]:
df_processed.columns

Index(['CountryName', 'sucideandgdp'], dtype='object')

In [331]:
df_processed

         CountryName  sucideandgdp
index
0        Afghanistan      4.700000
1        Afghanistan      5.472281
2      Afghanistan_1      4.700000
3      Afghanistan_1      5.472281
4             Angola      4.700000
...              ...           ...
317     South Africa     52.726277
318           Zambia      6.100000
319           Zambia     12.805784
320         Zimbabwe     10.700000
321         Zimbabwe     14.645835

[322 rows x 2 columns]

In [332]:
for a in df_processed.index:
    if a%2 == 0:
        df_processed['CountryName'][a] = df_processed['CountryName'][a]+'SuicideRate'
    else:
        df_processed['CountryName'][a] = df_processed['CountryName'][a]+'GDP'

/Users/mussabaheenmalik/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/mussabaheenmalik/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [333]:
df_processed

                    CountryName  sucideandgdp
index
0        AfghanistanSuicideRate      4.700000
1                AfghanistanGDP      5.472281
2      Afghanistan_1SuicideRate      4.700000
3              Afghanistan_1GDP      5.472281
4             AngolaSuicideRate      4.700000
...                         ...           ...
317             South AfricaGDP     52.726277
318           ZambiaSuicideRate      6.100000
319                   ZambiaGDP     12.805784
320         ZimbabweSuicideRate     10.700000
321                 ZimbabweGDP     14.645835

[322 rows x 2 columns]

In [334]:
df_processed['color_change']=0

In [335]:
for a in df_processed.index:
    if a%2 == 0:
        df_processed['color_change'][a] =0
    else:
        df_processed['color_change'][a] =1

/Users/mussabaheenmalik/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/mussabaheenmalik/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [336]:
df_processed.to_csv('cleaned_2016_GDP_SUCIDE.csv')

In [337]:
df_processed

                    CountryName  sucideandgdp  color_change
index
0        AfghanistanSuicideRate      4.700000             0
1                AfghanistanGDP      5.472281             1
2      Afghanistan_1SuicideRate      4.700000             0
3              Afghanistan_1GDP      5.472281             1
4             AngolaSuicideRate      4.700000             0
...                         ...           ...           ...
317             South AfricaGDP     52.726277             1
318           ZambiaSuicideRate      6.100000             0
319                   ZambiaGDP     12.805784             1
320         ZimbabweSuicideRate     10.700000             0
321                 ZimbabweGDP     14.645835             1

[322 rows x 3 columns]