In [221]:
import pandas as pd

In [222]:
!ls

DATA CLEANING.ipynb        suicideratesandgdp2016.csv
bicyclehires.md            try1.html
cars.json                  unemployment histogram.md
illebjk-attachments.zip    unemploymentbycountry.csv
seattle-weather.csv        world happiness.md
session06.md               worldhappinessreport.csv
suciderate2016graph.md

In [223]:
df =pd.read_csv('suicideratesandgdp2016.csv')

In [224]:
df.columns

Index(['CountryName', 'Country Code', 'GDP_PerCapita_2000 US$',
       'SuicideRate_2000', 'GDP_PerCapita_2005 US$', 'SuicideRate_2005',
       'GDP_PerCapita_2010 US$', 'SuicideRate_2010', 'GDP_PerCapita_2015 US$',
       'SuicideRate_2015', 'GDP_PerCapita_2016 US$', 'SuicideRate_2016'],
      dtype='object')

In [225]:
df.drop([ 'GDP_PerCapita_2000 US$',
       'SuicideRate_2000', 'GDP_PerCapita_2005 US$', 'SuicideRate_2005',
       'GDP_PerCapita_2010 US$', 'SuicideRate_2010', 'GDP_PerCapita_2015 US$',
       'SuicideRate_2015'],inplace=True,axis=1)

In [226]:
df

,CountryName,Country Code,GDP_PerCapita_2016 US$,SuicideRate_2016
0,Afghanistan,AFG,547.228110,4.7
1,Angola,AGO,3506.072885,4.7
2,Albania,ALB,4124.108543,6.3
3,United Arab Emirates,ARE,38141.846760,2.8
4,Argentina,ARG,12790.242470,9.2
...,...,...,...,...
155,Vanuatu,VUT,2830.965284,4.5
156,Samoa,WSM,4043.694000,4.4
157,South Africa,ZAF,5272.627749,11.6
158,Zambia,ZMB,1280.578447,6.1
159,Zimbabwe,ZWE,1464.583529,10.7

In [227]:
df_copy=df.copy()

In [228]:
df['index']=df.index

In [229]:
df.drop('index',inplace=True,axis=1)

In [230]:
df_copy['index']=(df_copy.index*2)

In [231]:
df['index']=(df.index*2-1)

In [232]:
for a in range(len(df_copy)):
    df_copy['index']= df_copy['index'][a]-1)

SyntaxError: invalid syntax (<ipython-input-232-39d33c058a2f>, line 2)

In [233]:
df_copy['CountryName'][0]

'Afghanistan'

In [234]:
df_processed = pd.concat([df,df_copy])

In [235]:
df_processed.sort_values(by=['index'], inplace=True)

In [236]:
df_processed['index']=df_processed['index']+1

In [237]:
df_processed

,CountryName,Country Code,GDP_PerCapita_2016 US$,SuicideRate_2016,index
0,Afghanistan,AFG,547.228110,4.7,0
0,Afghanistan,AFG,547.228110,4.7,1
1,Angola,AGO,3506.072885,4.7,2
1,Angola,AGO,3506.072885,4.7,3
2,Albania,ALB,4124.108543,6.3,4
...,...,...,...,...,...
157,South Africa,ZAF,5272.627749,11.6,315
158,Zambia,ZMB,1280.578447,6.1,316
158,Zambia,ZMB,1280.578447,6.1,317
159,Zimbabwe,ZWE,1464.583529,10.7,318
159,Zimbabwe,ZWE,1464.583529,10.7,319

In [238]:
df_processed.set_index('index',inplace=True)

In [239]:
df_processed

        CountryName Country Code  GDP_PerCapita_2016 US$  SuicideRate_2016
index
0       Afghanistan          AFG              547.228110               4.7
1       Afghanistan          AFG              547.228110               4.7
2            Angola          AGO             3506.072885               4.7
3            Angola          AGO             3506.072885               4.7
4           Albania          ALB             4124.108543               6.3
...             ...          ...                     ...               ...
315    South Africa          ZAF             5272.627749              11.6
316          Zambia          ZMB             1280.578447               6.1
317          Zambia          ZMB             1280.578447               6.1
318        Zimbabwe          ZWE             1464.583529              10.7
319        Zimbabwe          ZWE             1464.583529              10.7

[320 rows x 4 columns]

In [240]:
df_processed['sucideandgdp']=0.0

In [241]:
for a in df_processed.index:
    if a%2 == 0:
        df_processed['sucideandgdp'][a] = df_processed['SuicideRate_2016'][a]
    else:
        df_processed['sucideandgdp'][a] = df_processed['GDP_PerCapita_2016 US$'][a]

/Users/mussabaheenmalik/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/mussabaheenmalik/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [242]:
df_processed.drop([ 'Country Code', 'GDP_PerCapita_2016 US$',
       'SuicideRate_2016'],inplace=True,axis=1 )

In [243]:
df_processed.columns

Index(['CountryName', 'sucideandgdp'], dtype='object')

In [244]:
df_processed

        CountryName  sucideandgdp
index
0       Afghanistan      4.700000
1       Afghanistan    547.228110
2            Angola      4.700000
3            Angola   3506.072885
4           Albania      6.300000
...             ...           ...
315    South Africa   5272.627749
316          Zambia      6.100000
317          Zambia   1280.578447
318        Zimbabwe     10.700000
319        Zimbabwe   1464.583529

[320 rows x 2 columns]

In [245]:
for a in df_processed.index:
    if a%2 == 0:
        df_processed['CountryName'][a] = df_processed['CountryName'][a]+'SuicideRate'
    else:
        df_processed['CountryName'][a] = df_processed['CountryName'][a]+'GDP'

/Users/mussabaheenmalik/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/mussabaheenmalik/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [246]:
df_processed

                  CountryName  sucideandgdp
index
0      AfghanistanSuicideRate      4.700000
1              AfghanistanGDP    547.228110
2           AngolaSuicideRate      4.700000
3                   AngolaGDP   3506.072885
4          AlbaniaSuicideRate      6.300000
...                       ...           ...
315           South AfricaGDP   5272.627749
316         ZambiaSuicideRate      6.100000
317                 ZambiaGDP   1280.578447
318       ZimbabweSuicideRate     10.700000
319               ZimbabweGDP   1464.583529

[320 rows x 2 columns]