In [221]:
import pandas as pd

In [279]:
!ls

DATA CLEANING.ipynb         suciderate2016graph.md
bicyclehires.md             suicideratesandgdp2016.csv
cars.json                   try1.html
cleaned_2016_GDP_SUCIDE.csv unemployment histogram.md
illebjk-attachments.zip     unemploymentbycountry.csv
seattle-weather.csv         world happiness.md
session06.md                worldhappinessreport.csv

In [280]:
df =pd.read_csv('suicideratesandgdp2016.csv')

In [281]:
df.columns

Index(['CountryName', 'Country Code', 'GDP_PerCapita_2000 US$',
       'SuicideRate_2000', 'GDP_PerCapita_2005 US$', 'SuicideRate_2005',
       'GDP_PerCapita_2010 US$', 'SuicideRate_2010', 'GDP_PerCapita_2015 US$',
       'SuicideRate_2015', 'GDP_PerCapita_2016 US$', 'SuicideRate_2016'],
      dtype='object')

In [282]:
df.drop([ 'GDP_PerCapita_2000 US$',
       'SuicideRate_2000', 'GDP_PerCapita_2005 US$', 'SuicideRate_2005',
       'GDP_PerCapita_2010 US$', 'SuicideRate_2010', 'GDP_PerCapita_2015 US$',
       'SuicideRate_2015'],inplace=True,axis=1)

In [283]:
df['GDP_PerCapita_2016 US$'] = df['GDP_PerCapita_2016 US$']/1000

In [284]:
df_copy=df.copy()

In [285]:
df['index']=df.index

In [286]:
df.drop('index',inplace=True,axis=1)

In [287]:
df_copy['index']=(df_copy.index*2)

In [288]:
df['index']=(df.index*2-1)

In [289]:
for a in range(len(df_copy)):
    df_copy['index']= df_copy['index'][a]-1)

SyntaxError: invalid syntax (<ipython-input-289-39d33c058a2f>, line 2)

In [290]:
df_copy['CountryName'][0]

'Afghanistan'

In [291]:
df_processed = pd.concat([df,df_copy])

In [292]:
df_processed.sort_values(by=['index'], inplace=True)

In [293]:
df_processed['index']=df_processed['index']+1

In [294]:
df_processed

,CountryName,Country Code,GDP_PerCapita_2016 US$,SuicideRate_2016,index
0,Afghanistan,AFG,0.547228,4.7,0
0,Afghanistan,AFG,0.547228,4.7,1
1,Afghanistan_1,AFG,0.547228,4.7,2
1,Afghanistan_1,AFG,0.547228,4.7,3
2,Angola,AGO,3.506073,4.7,4
...,...,...,...,...,...
158,South Africa,ZAF,5.272628,11.6,317
159,Zambia,ZMB,1.280578,6.1,318
159,Zambia,ZMB,1.280578,6.1,319
160,Zimbabwe,ZWE,1.464584,10.7,320
160,Zimbabwe,ZWE,1.464584,10.7,321

In [295]:
df_processed.set_index('index',inplace=True)

In [296]:
df_processed

         CountryName Country Code  GDP_PerCapita_2016 US$  SuicideRate_2016
index
0        Afghanistan          AFG                0.547228               4.7
1        Afghanistan          AFG                0.547228               4.7
2      Afghanistan_1          AFG                0.547228               4.7
3      Afghanistan_1          AFG                0.547228               4.7
4             Angola          AGO                3.506073               4.7
...              ...          ...                     ...               ...
317     South Africa          ZAF                5.272628              11.6
318           Zambia          ZMB                1.280578               6.1
319           Zambia          ZMB                1.280578               6.1
320         Zimbabwe          ZWE                1.464584              10.7
321         Zimbabwe          ZWE                1.464584              10.7

[322 rows x 4 columns]

In [297]:
df_processed['sucideandgdp']=0.0

In [298]:
for a in df_processed.index:
    if a%2 == 0:
        df_processed['sucideandgdp'][a] = df_processed['SuicideRate_2016'][a]
    else:
        df_processed['sucideandgdp'][a] = df_processed['GDP_PerCapita_2016 US$'][a]

/Users/mussabaheenmalik/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/mussabaheenmalik/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [299]:
df_processed.drop([ 'Country Code', 'GDP_PerCapita_2016 US$',
       'SuicideRate_2016'],inplace=True,axis=1 )

In [300]:
df_processed.columns

Index(['CountryName', 'sucideandgdp'], dtype='object')

In [301]:
df_processed

         CountryName  sucideandgdp
index
0        Afghanistan      4.700000
1        Afghanistan      0.547228
2      Afghanistan_1      4.700000
3      Afghanistan_1      0.547228
4             Angola      4.700000
...              ...           ...
317     South Africa      5.272628
318           Zambia      6.100000
319           Zambia      1.280578
320         Zimbabwe     10.700000
321         Zimbabwe      1.464584

[322 rows x 2 columns]

In [302]:
for a in df_processed.index:
    if a%2 == 0:
        df_processed['CountryName'][a] = df_processed['CountryName'][a]+'SuicideRate'
    else:
        df_processed['CountryName'][a] = df_processed['CountryName'][a]+'GDP'

/Users/mussabaheenmalik/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/mussabaheenmalik/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [303]:
df_processed

                    CountryName  sucideandgdp
index
0        AfghanistanSuicideRate      4.700000
1                AfghanistanGDP      0.547228
2      Afghanistan_1SuicideRate      4.700000
3              Afghanistan_1GDP      0.547228
4             AngolaSuicideRate      4.700000
...                         ...           ...
317             South AfricaGDP      5.272628
318           ZambiaSuicideRate      6.100000
319                   ZambiaGDP      1.280578
320         ZimbabweSuicideRate     10.700000
321                 ZimbabweGDP      1.464584

[322 rows x 2 columns]

In [304]:
df_processed['color_change']=0

In [305]:
for a in df_processed.index:
    if a%2 == 0:
        df_processed['color_change'][a] =0
    else:
        df_processed['color_change'][a] =1

/Users/mussabaheenmalik/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/mussabaheenmalik/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [306]:
df_processed.to_csv('cleaned_2016_GDP_SUCIDE.csv')

In [307]:
df_processed

                    CountryName  sucideandgdp  color_change
index
0        AfghanistanSuicideRate      4.700000             0
1                AfghanistanGDP      0.547228             1
2      Afghanistan_1SuicideRate      4.700000             0
3              Afghanistan_1GDP      0.547228             1
4             AngolaSuicideRate      4.700000             0
...                         ...           ...           ...
317             South AfricaGDP      5.272628             1
318           ZambiaSuicideRate      6.100000             0
319                   ZambiaGDP      1.280578             1
320         ZimbabweSuicideRate     10.700000             0
321                 ZimbabweGDP      1.464584             1

[322 rows x 3 columns]