In [1]:
import pandas as pd

In [3]:
!ls

DATA CLEANING.ipynb        suicideratesandgdp2016.csv
bicyclehires.md            try1.html
cars.json                  unemployment histogram.md
illebjk-attachments.zip    unemploymentbycountry.csv
seattle-weather.csv        world happiness.md
session06.md               worldhappinessreport.csv
suciderate2016graph.md

In [4]:
df =pd.read_csv('suicideratesandgdp2016.csv')

In [6]:
df.columns

Index(['CountryName', 'Country Code', 'GDP_PerCapita_2000 US$',
       'SuicideRate_2000', 'GDP_PerCapita_2005 US$', 'SuicideRate_2005',
       'GDP_PerCapita_2010 US$', 'SuicideRate_2010', 'GDP_PerCapita_2015 US$',
       'SuicideRate_2015', 'GDP_PerCapita_2016 US$', 'SuicideRate_2016'],
      dtype='object')

In [11]:
df.drop(['Country Code', 'GDP_PerCapita_2000 US$',
       'SuicideRate_2000', 'GDP_PerCapita_2005 US$', 'SuicideRate_2005',
       'GDP_PerCapita_2010 US$', 'SuicideRate_2010', 'GDP_PerCapita_2015 US$',
       'SuicideRate_2015'],inplace=True,axis=1)

In [12]:
df

              CountryName  GDP_PerCapita_2016 US$  SuicideRate_2016
0             Afghanistan              547.228110               4.7
1                  Angola             3506.072885               4.7
2                 Albania             4124.108543               6.3
3    United Arab Emirates            38141.846760               2.8
4               Argentina            12790.242470               9.2
..                    ...                     ...               ...
155               Vanuatu             2830.965284               4.5
156                 Samoa             4043.694000               4.4
157          South Africa             5272.627749              11.6
158                Zambia             1280.578447               6.1
159              Zimbabwe             1464.583529              10.7

[160 rows x 3 columns]

In [13]:
df_copy=df.copy()

In [17]:
df_copy.append({'chere',32.42,31})

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid